- name: Installer Apache
  ansible.builtin.yum:
    name: httpd
    state: present
  become: yes

- name: Activer et démarrer le service Apache
  ansible.builtin.systemd:
    name: httpd
    enabled: yes
    state: started
  become: yes

- name: Créer le dossier html si nécessaire
  ansible.builtin.file:
    path: /var/www/html
    state: directory
    owner: ec2-user
    group: ec2-user
    mode: '0755'
  become: yes

- name: Déployer la page HTML
  ansible.builtin.template:
    src: index.html.j2
    dest: /var/www/html/index.html
  vars:
    site_message: "{{ 'Hello World 1' if inventory_hostname == 'host1' else 'Hello World 2' }}"
    host_name: "{{ inventory_hostname }}"
  become: yes
