---
# tasks file for roles/web_content
- name: Deploy HTML page
  template:
    src: index.html.j2
    dest: /var/www/html/index.html
    owner: www-data
    group: www-data
    mode: 0644

- name: Restart Apache
  service:
    name: httpd
    state: restarted
